@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DeleteCar";
}
<form method="post">
    <div class="container d-flex justify-content-center align-items-center0 w-50">
        <div class="card-body">
            <div class="form-group">
                <label>Машины: </label>
                <select id="car" name="car" class="form-control" asp-items="@(new SelectList(@ViewBag.Cars, "Id", "CarNumber", "CarBrand"))"></select>
            </div>
            <br>
            <div>
                <input type="submit" value="Сохранить" class="btn btn-secondary text-center" />
            </div>
        </div>
    </div>
</form>