@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-column">
    <h1 class="display-4">СТО "Руки-Крюки"</h1>
    <img src="~/Images/ruki-kryuki.gif" width="200px"/>
    <div class="p-2">
        <img src="~/Images/max.png" width="100px" />
        Яковлев М.Г. Роль Исполнителя
    </div>
    <div class="p-2">
        <img src="~/Images/sashka.png" width="100px" />
        Табеев А.П. Роль Поручителя &nbsp; &nbsp;&nbsp;
    </div>
    <p class="pt-4">Рады видеть вас на нашем сайте ^.^</p>
</div>
