@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">СТО "Руки-Крюки"</h1>
    <div class="p-2">
        <img src="~/images/ruki-kryuki.gif" width="200px" />
    </div>
    <div class="p-2">
        <img src="~/images/maksimka.jpg" width="100px" />
        Яковлев М.Г. Роль Исполнителя
    </div>
    <div class="p-2">
        <img src="~/images/sasha.jpg" width="100px" />
        Табеев А.П. Роль Поручителя &nbsp; &nbsp;&nbsp;
    </div>
    <p class="pt-4">Рады видеть вас на нашем сайте (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</p>
</div>
